# Control Flow
## if-else

In [3]:
if 2**2 == 4:
    print('Obvious!')

Obvious!

In [27]:
a = 1
if a == 1: 
    print(1)
elif a == 2: print(2)
else:
    print('A lot')

1

In [18]:
one_is_less_that_two = 1 < 2      # equals True

In [19]:
one_is_less_that_two

True

## Ejercicio 
 numeros pares e impares

In [21]:
x =23

In [23]:
parity = "even" if x % 2 else "odd"
parity

'even'

## for/range

In [25]:
for i in range(4): 
    print(i)

0
1
2
3

In [28]:
for word in ('cool', 'powerful', 'readable'): 
    print('Python is %s' % word)

Python is cool
Python is powerful
Python is readable

In [102]:
colors = ['red', 'green', 'blue', 'yellow']

In [103]:
for col in reversed(colors):
    print col

yellow
blue
green
red

In [105]:
for i, col in enumerate(colors):
    print i, '-->', col

0 --> red
1 --> green
2 --> blue
3 --> yellow

In [106]:
names = ['raymond', 'rachel', 'matthew']

In [107]:
for name, color in zip(names, colors):
    print name, color

raymond red
rachel green
matthew blue

## from dics

In [108]:
d = dict(zip(names, colors))
print d

{'matthew': 'blue', 'rachel': 'green', 'raymond': 'red'}

In [109]:
d = dict(enumerate(names))
print d

{0: 'raymond', 1: 'rachel', 2: 'matthew'}

## while/break/continue

In [37]:
z = 1 + 1j
while abs(z) < 100:
    z = z**2 + 1
    print abs(z), z
z

2.2360679775 (1+2j)
4.472135955 (-2+4j)
19.4164878389 (-11-16j)
376.643067107 (-134+352j)

(-134+352j)

In [40]:
z = 1 + 1j
while abs(z) < 100:
    if z.imag == 4:  
        break                         # te sales aqui.
    z = z**2 + 1
    print z

(1+2j)
(-2+4j)

In [ ]:
a = [1, 0, 2, 4]
for element in a:
    #if element == 0:                 #Evitar diviones de cero
    #    continue
    print(1. / element)

## pass

In [44]:
for x in range(10):
    if x == 3:
        continue                 # go to the next iteration
    if x == 4:
        pass                    # do nothing
    if x == 5:
        break                   # quit the loop entirely
    print x

0
1
2
4

# Conditional Expressions

In [46]:
# a == b Testse quality,with logics
1 == 1.

True

In [47]:
# a is b Tests identity: both sides are the same object

In [48]:
1 is 1.

False

In [51]:
a= 1
b= 1

In [52]:
a is b

True

In [53]:
#a in b For any collection b: b contains a
b = [1, 2, 3] 
2 in b

True

## iterate over a sequence

In [54]:
vowels = 'aeiouy'
for i in 'powerful':  
    if i in vowels: 
        print(i)

o
e
u

## Codigo murcielago

In [97]:
message = list('Hello how are you alberto?')
codigo  = 'eucalipto'
num     = ['%d'%i for i,_  in enumerate(codigo)]

In [88]:
codigo, num

('eucalipto', ['0', '1', '2', '3', '4', '5', '6', '7', '8'])

In [89]:
zip(codigo, num)

[('e', '0'),
 ('u', '1'),
 ('c', '2'),
 ('a', '3'),
 ('l', '4'),
 ('i', '5'),
 ('p', '6'),
 ('t', '7'),
 ('o', '8')]

In [91]:
res = dict(zip(codigo, num))

In [93]:
res

{'a': '3',
 'c': '2',
 'e': '0',
 'i': '5',
 'l': '4',
 'o': '8',
 'p': '6',
 't': '7',
 'u': '1'}

In [95]:
res['a'], res['e']

('3', '0')

In [107]:
for i, m in enumerate(message):
    if m in codigo: 
        message[i] = res[m]
''.join(message)

'H0448 h8w 3r0 y81 34b0r78?'

In [86]:
res = dict(zip(codigo, num))
for i, m in enumerate(message):
    if m.lower() in codigo:
        message[i] = res[m]

In [87]:
''.join(message)

'H0448 h8w 3r0 y81 34b0r78?'

## Functions

In [1]:
def double(x):
    """Optional docstring, the first function"""
    return x*2

In [2]:
double(3)

6

Python functions are first-class, which means that we can assign them to variables and pass them into functions

In [4]:
def apply_to_one(f):
    return f(1)

x= apply_to_one(double)  
x

2

In [36]:
def sum_and_product(x, y):
    return (x + y), (x * y)

s, p = sum_and_product(2, 3)      # 5, 6
s, p

(5, 6)

Default arguments, only need to be specified when you want a value other than the default parameter

In [5]:
def my_print(message="default message"):
    print message
    
my_print(message="hello")
my_print()

hello
default message

### Ejercicio

In [59]:
def fibonacci(n):
    x, y = 0, 1
    for i in range(n):
        print x
        x, y = y, x + y      # < ----- evaluate rhs first

In [8]:
fibonacci(4)

0
1
1
2

### Lambda functions

(anonymous functions)

In [7]:
y = apply_to_one(lambda x: x + 4)     # 5
y

5

In [43]:
z = lambda x: x**2
z(2)

4

In [42]:
w = lambda x, y: x**2+y
w(2, 1)

5

In [21]:
parity = lambda x: "even" if x % 2 else "odd"

In [25]:
for i in range(10): 
    print parity(i)

odd
even
odd
even
odd
even
odd
even
odd
even

In [38]:
x = [4, 1, 2, 3]     
y = sorted(x)              # =[1,2,3,4] x unchanged
x.sort()                   # now x = [1,2,3,4]"

list(reversed(x))

[4, 3, 2, 1]

In [41]:
x = sorted([-4, 1, -2, 3], key=abs, reverse=True)        #Ordenar de mayor a menor en abs
x

[-4, 3, -2, 1]

In [26]:
#sort a collection of strings by the number of distinc letters
#in each string

strings = ['foo', 'card', 'bar', 'aaaa', 'abab']
strings.sort(key= lambda x: len(set(list(x))))
strings

['aaaa', 'foo', 'abab', 'bar', 'card']

In [58]:
from collections import Counter

Document = ['hi', 'bye', 'hi', 'morning', 'hi']                   #Ordenar por palabras repetidas
word_counts = Counter(Document)

wc = sorted(word_counts.items(),
            key=lambda(word, count): count, reverse=True)
print wc

[('hi', 3), ('bye', 1), ('morning', 1)]

** Ejercicio

In [59]:
sorted({x: len(x) for x in Document}.items(), key=lambda(word, count): count)

[('hi', 2), ('bye', 3), ('morning', 7)]

# Idiomatic Python

##  List Comprehensions

In [60]:
even_numbers = [x for x in range(5) if x%2 == 0]    # [0,2,4]
even_numbers

[0, 2, 4]

In [62]:
even_square = [x * x for x in even_numbers]         # [0,4,8]   
even_square

[0, 4, 16]

In [63]:
square_dict = {x: x*x for x in range(4)}
square_dict

{0: 0, 1: 1, 2: 4, 3: 9}

In [64]:
zeros = [0 for _ in even_numbers]
zeros

[0, 0, 0]

## zip and Argument Unpacking

In [9]:
list1 = ['a','b','c']
list2 = [1,2,3]
zip(list1, list2)

[('a', 1), ('b', 2), ('c', 3)]

In [13]:
variance = [1,2,4,8,16,32,64,128,256]
bias_squared = [256,128,64,32,16,8,4,2,1]
total_error = [x + y for x,y in zip(variance, bias_squared)]
total_error

[257, 130, 68, 40, 32, 40, 68, 130, 257]

In [11]:
pairs = [('a', 1), ('b', 2), ('c', 3)]
letters, numbers = zip(*pairs)
letters, numbers

(('a', 'b', 'c'), (1, 2, 3))

## Nested list

In [67]:
pairs = [(x, y)
         for x in range(3)
         for y in range(3)] 
pairs

[(0, 0), (0, 1), (0, 2), (1, 0), (1, 1), (1, 2), (2, 0), (2, 1), (2, 2)]

In [69]:
# Ejercicio

all_data = [['Tom', 'Billy', 'Andrew', 'Steven'], ['Susie', 'Casey', 'Jill', 'Eva']]

result = [name for names in all_data for name in names
        if name.count('e') >= 2]
result

['Steven']

## itertools

In [74]:
names = all_data = ['Tom', 'Billy', 'Andrew', 'Steven', 'Susie', 'Casey', 'Jill', 'Eva']

import itertools

first_letter = lambda x: x[0]
for letter, names in itertools.groupby(names, first_letter):
    print letter, list(names)                               #names is a generator

T ['Tom']
B ['Billy']
A ['Andrew']
S ['Steven', 'Susie']
C ['Casey']
J ['Jill']
E ['Eva']

# Tarea

In [4]:
import itertools
from collections import defaultdict

In [5]:
names =  ['Tom', 'Billy', 'Andrew', 'Steven', 'Susie', 'Casey', 'Jill', 'Eva']
lnames = lambda x: len(x)

names = sorted(names, key=lnames)

for lnames, name in itertools.groupby(names, lnames):
    print lnames, list(name)

3 ['Tom', 'Eva']
4 ['Jill']
5 ['Billy', 'Susie', 'Casey']
6 ['Andrew', 'Steven']

In [6]:
names = ['raymond', 'rachel', 'matthew', 'roger',
        'betty', 'melissa', 'judith', 'charlie']

d = defaultdict(list)
for name in names:
    key = len(name)
    d[key].append(name)
d

defaultdict(list,
            {5: ['roger', 'betty'],
             6: ['rachel', 'judith'],
             7: ['raymond', 'matthew', 'melissa', 'charlie']})

# Regular expressions

In [82]:
import re
print all([
        not re.match("a","cat"),
        re.search("a", "cat"),
        3 == len(re.split("[ab]","carbs")),
        "R-D-" == re.sub("[0-9]","-","R2D2")
    ])

True

In [83]:
states = ['   Alabama', 'Georgia!', 'Georgia', 'georgia',
             'carolina#', 'virginia?']

def remove_punctuation(value):
    return re.sub('[!#?]', '', value)

clean_ops = [str.strip, remove_punctuation, str.title]

def clean_strings(strings, ops):
    result = []
    for value in strings:
        for function in ops:
            value = function(value)
        result.append(value)
    return result

clean_strings(states, clean_ops)

['Alabama', 'Georgia', 'Georgia', 'Georgia', 'Carolina', 'Virginia']

In [91]:
re.sub('[!#?]', '', states[5])

'virginia'

#  Functional Tools

In [2]:
from functools import partial

In [1]:
def exp(base, power):
    return base**power


two_to_the = partial(exp, 2)
square_of  = partial(exp, power = 2)

print two_to_the(3), square_of(3)

8 9


## Generator

A generator is something that you can iterate over but whose values are produced only as needed (lazily). Python comes with a lazy range function called xrange

To create a generator, use the yield keyword instead of return in a fucntion.

### Generators do not store all the values in memory, they generate the values on the fly: they generate the values on the fly

In [54]:
mylist = [x*x for x in range(3)]
mylist

[0, 1, 4]

In [55]:
mygenerator = (x*x for x in range(3))
mygenerator

In [57]:
%time sum([i**2 for i in xrange(100)])
%time sum(i**2 for i in xrange(100))

CPU times: user 88 µs, sys: 260 µs, total: 348 µs
Wall time: 121 µs
CPU times: user 35 µs, sys: 13 µs, total: 48 µs
Wall time: 43.9 µs

328350

In [41]:
def lazy_range(n):
    i =0
    while i<n:
        yield i
        i+= 1 
lazy_range(3)

#yield is a keyword that is used like return, except the function will return a generator.

In [42]:
map(lambda x: x+1, lazy_range(3))

[1, 2, 3]

In [44]:
xrange(3)

xrange(3)

In [37]:
range(3)

[0, 1, 2]

## map, reduce, filter, partial

In [16]:
def double(x):
    return 2*x

xs = [1, 2, 3, 4]

twice_xs = [double(x) for x in xs]           #[2, 4, 6, 8]
twice_xs

[2, 4, 6, 8]

In [17]:
twice_xs = map(double, xs)             #using map for lists, funcional
twice_xs

[2, 4, 6, 8]

In [18]:
list_doubler = partial(map, double)     #Not very useful
twice_xs = list_doubler(xs)
twice_xs

[2, 4, 6, 8]

In [19]:
#** Tarea
Celsius = [39.2, 36.5, 37.3, 37.8]
Fahrenheit = map(lambda x: (float(9)/5)*x + 32, Celsius)
Fahrenheit

[102.56, 97.7, 99.14, 100.03999999999999]

In [20]:
def multiply(x, y):
    return x*y

products = map(multiply, [1,2], [4,5])       #[1*4,2*5] = [4,10]
products

[4, 10]

In [21]:
def is_even(x):
    return x%2 == 0

x_evens = [x for x in xs if is_even(x)]       #[2,4]
x_evens

[2, 4]

In [24]:
x_evens = filter(is_even, xs)            #Only if f returns True will the element 
x_evens                                  #of the list be included in the result list

[2, 4]

In [25]:
list_evener = partial(filter, is_even)        
x_evens = list_evener(xs)                     
x_evens

[2, 4]

In [27]:
x_product = reduce(multiply, xs)               # = 1*2*3*4 = 24
x_product                                      # tipo factorial

24

In [28]:
list_product = partial(reduce, multiply)
x_product = list_product(xs)
x_product

24

In [29]:
#Determining the maximum of a list of numerical values
f = lambda a,b: a if (a > b) else b
reduce(f, [47,11,42,102,13])                  #102

102

In [31]:
#Calculating the sum of the numbers from 1 to 100
sum_num = reduce(lambda x, y: x+y, range(1,101))   #5050
sum_num

5050

## Exceptions

When something goes wrong, Python raises an exception.

In [32]:
try:
    print 0/0
except ZeroDivisionError:
    print "cannot divide by zero"

cannot divide by zero

In [34]:
my_tuple = (1, 2)
try: 
    my_tuple[1] = 3
except TypeError:
    print 'cannot modify a tuple'

cannot modify a tuple

In [1]:
while True:
    try:
        n = raw_input("Please enter an integer: ")
        n = int(n)
        break
    except ValueError:
        print("No valid integer! Please try again ...")
print "Great, you successfully entered an integer!"

Please enter an integer: n
No valid integer! Please try again ...
Please enter an integer: 2
Great, you successfully entered an integer!

## Tarea
Agrupar palabras por longitud

 {5: ['roger', 'betty'],
             6: ['rachel', 'judith'],
             7: ['raymond', 'matthew', 'melissa', 'charlie']})

## Even Fibonacci numbers (2)

Each new term in the Fibonacci sequence is generated by adding the previous two terms. By starting with 1 and 2, the first 10 terms will be:

1, 2, 3, 5, 8, 13, 21, 34, 55, 89, ...

By considering the terms in the Fibonacci sequence whose values do not exceed four million, find the sum of the even-valued terms.

## Largest palindrome product (4)

A palindromic number reads the same both ways. The largest palindrome made from the product of two 2-digit numbers is 9009 = 91 × 99.

Find the largest palindrome made from the product of two 3-digit numbers.

## Double-base palindromes (36)

The decimal number, 585 = 10010010012 (binary), is palindromic in both bases.

Find the sum of all numbers, less than one million, which are palindromic in base 10 and base 2.

(Please note that the palindromic number, in either base, may not include leading zeros.)

## Names scores (22)

Using names.txt (right click and 'Save Link/Target As...'), a 46K text file containing over five-thousand first names, begin by sorting it into alphabetical order. Then working out the alphabetical value for each name, multiply this value by its alphabetical position in the list to obtain a name score.

For example, when the list is sorted into alphabetical order, COLIN, which is worth 3 + 15 + 12 + 9 + 14 = 53, is the 938th name in the list. So, COLIN would obtain a score of 938 × 53 = 49714.

What is the total of all the name scores in the file?

## Largest product in a series (8)

The four adjacent digits in the 1000-digit number that have the greatest product are 9 × 9 × 8 × 9 = 5832.

73167176531330624919225119674426574742355349194934
96983520312774506326239578318016984801869478851843
85861560789112949495459501737958331952853208805511
12540698747158523863050715693290963295227443043557
66896648950445244523161731856403098711121722383113
62229893423380308135336276614282806444486645238749
30358907296290491560440772390713810515859307960866
70172427121883998797908792274921901699720888093776
65727333001053367881220235421809751254540594752243
52584907711670556013604839586446706324415722155397
53697817977846174064955149290862569321978468622482
83972241375657056057490261407972968652414535100474
82166370484403199890008895243450658541227588666881
16427171479924442928230863465674813919123162824586
17866458359124566529476545682848912883142607690042
24219022671055626321111109370544217506941658960408
07198403850962455444362981230987879927244284909188
84580156166097919133875499200524063689912560717606
05886116467109405077541002256983155200055935729725
71636269561882670428252483600823257530420752963450

Find the thirteen adjacent digits in the 1000-digit number that have the greatest product. What is the value of this product?

## Largest product in a grid (11)



In the 20×20 grid below, four numbers along a diagonal line have been marked in red.

08 02 22 97 38 15 00 40 00 75 04 05 07 78 52 12 50 77 91 08
49 49 99 40 17 81 18 57 60 87 17 40 98 43 69 48 04 56 62 00
81 49 31 73 55 79 14 29 93 71 40 67 53 88 30 03 49 13 36 65
52 70 95 23 04 60 11 42 69 24 68 56 01 32 56 71 37 02 36 91
22 31 16 71 51 67 63 89 41 92 36 54 22 40 40 28 66 33 13 80
24 47 32 60 99 03 45 02 44 75 33 53 78 36 84 20 35 17 12 50
32 98 81 28 64 23 67 10 **26** 38 40 67 59 54 70 66 18 38 64 70
67 26 20 68 02 62 12 20 95 **63** 94 39 63 08 40 91 66 49 94 21
24 55 58 05 66 73 99 26 97 17 **78** 78 96 83 14 88 34 89 63 72
21 36 23 09 75 00 76 44 20 45 35 **14** 00 61 33 97 34 31 33 95
78 17 53 28 22 75 31 67 15 94 03 80 04 62 16 14 09 53 56 92
16 39 05 42 96 35 31 47 55 58 88 24 00 17 54 24 36 29 85 57
86 56 00 48 35 71 89 07 05 44 44 37 44 60 21 58 51 54 17 58
19 80 81 68 05 94 47 69 28 73 92 13 86 52 17 77 04 89 55 40
04 52 08 83 97 35 99 16 07 97 57 32 16 26 26 79 33 27 98 66
88 36 68 87 57 62 20 72 03 46 33 67 46 55 12 32 63 93 53 69
04 42 16 73 38 25 39 11 24 94 72 18 08 46 29 32 40 62 76 36
20 69 36 41 72 30 23 88 34 62 99 69 82 67 59 85 74 04 36 16
20 73 35 29 78 31 90 01 74 31 49 71 48 86 81 16 23 57 05 54
01 70 54 71 83 51 54 69 16 92 33 48 61 43 52 01 89 19 67 48

The product of these numbers is 26 × 63 × 78 × 14 = 1788696.

What is the greatest product of four adjacent numbers in the same direction (up, down, left, right, or diagonally) in the 20×20 grid?

## Large sum (13)

Work out the first ten digits of the sum of the following one-hundred 50-digit numbers.
37107287533902102798797998220837590246510135740250
46376937677490009712648124896970078050417018260538
74324986199524741059474233309513058123726617309629
91942213363574161572522430563301811072406154908250
23067588207539346171171980310421047513778063246676
89261670696623633820136378418383684178734361726757
28112879812849979408065481931592621691275889832738
44274228917432520321923589422876796487670272189318
47451445736001306439091167216856844588711603153276
70386486105843025439939619828917593665686757934951
62176457141856560629502157223196586755079324193331
64906352462741904929101432445813822663347944758178
92575867718337217661963751590579239728245598838407
58203565325359399008402633568948830189458628227828
80181199384826282014278194139940567587151170094390
35398664372827112653829987240784473053190104293586
86515506006295864861532075273371959191420517255829
71693888707715466499115593487603532921714970056938
54370070576826684624621495650076471787294438377604
53282654108756828443191190634694037855217779295145
36123272525000296071075082563815656710885258350721
45876576172410976447339110607218265236877223636045
17423706905851860660448207621209813287860733969412
81142660418086830619328460811191061556940512689692
51934325451728388641918047049293215058642563049483
62467221648435076201727918039944693004732956340691
15732444386908125794514089057706229429197107928209
55037687525678773091862540744969844508330393682126
18336384825330154686196124348767681297534375946515
80386287592878490201521685554828717201219257766954
78182833757993103614740356856449095527097864797581
16726320100436897842553539920931837441497806860984
48403098129077791799088218795327364475675590848030
87086987551392711854517078544161852424320693150332
59959406895756536782107074926966537676326235447210
69793950679652694742597709739166693763042633987085
41052684708299085211399427365734116182760315001271
65378607361501080857009149939512557028198746004375
35829035317434717326932123578154982629742552737307
94953759765105305946966067683156574377167401875275
88902802571733229619176668713819931811048770190271
25267680276078003013678680992525463401061632866526
36270218540497705585629946580636237993140746255962
24074486908231174977792365466257246923322810917141
91430288197103288597806669760892938638285025333403
34413065578016127815921815005561868836468420090470
23053081172816430487623791969842487255036638784583
11487696932154902810424020138335124462181441773470
63783299490636259666498587618221225225512486764533
67720186971698544312419572409913959008952310058822
95548255300263520781532296796249481641953868218774
76085327132285723110424803456124867697064507995236
37774242535411291684276865538926205024910326572967
23701913275725675285653248258265463092207058596522
29798860272258331913126375147341994889534765745501
18495701454879288984856827726077713721403798879715
38298203783031473527721580348144513491373226651381
34829543829199918180278916522431027392251122869539
40957953066405232632538044100059654939159879593635
29746152185502371307642255121183693803580388584903
41698116222072977186158236678424689157993532961922
62467957194401269043877107275048102390895523597457
23189706772547915061505504953922979530901129967519
86188088225875314529584099251203829009407770775672
11306739708304724483816533873502340845647058077308
82959174767140363198008187129011875491310547126581
97623331044818386269515456334926366572897563400500
42846280183517070527831839425882145521227251250327
55121603546981200581762165212827652751691296897789
32238195734329339946437501907836945765883352399886
75506164965184775180738168837861091527357929701337
62177842752192623401942399639168044983993173312731
32924185707147349566916674687634660915035914677504
99518671430235219628894890102423325116913619626622
73267460800591547471830798392868535206946944540724
76841822524674417161514036427982273348055556214818
97142617910342598647204516893989422179826088076852
87783646182799346313767754307809363333018982642090
10848802521674670883215120185883543223812876952786
71329612474782464538636993009049310363619763878039
62184073572399794223406235393808339651327408011116
66627891981488087797941876876144230030984490851411
60661826293682836764744779239180335110989069790714
85786944089552990653640447425576083659976645795096
66024396409905389607120198219976047599490197230297
64913982680032973156037120041377903785566085089252
16730939319872750275468906903707539413042652315011
94809377245048795150954100921645863754710598436791
78639167021187492431995700641917969777599028300699
15368713711936614952811305876380278410754449733078
40789923115535562561142322423255033685442488917353
44889911501440648020369068063960672322193204149535
41503128880339536053299340368006977710650566631954
81234880673210146739058568557934581403627822703280
82616570773948327592232845941706525094512325230608
22918802058777319719839450180888072429661980811197
77158542502016545090413245809786882778948721859617
72107838435069186155435662884062257473692284509516
20849603980134001723930671666823555245252804609722
53503534226472524250874054075591789781264330331690

## Amicable numbers (21)

Let d(n) be defined as the sum of proper divisors of n (numbers less than n which divide evenly into n).
If d(a) = b and d(b) = a, where a ≠ b, then a and b are an amicable pair and each of a and b are called amicable numbers.

For example, the proper divisors of 220 are 1, 2, 4, 5, 10, 11, 20, 22, 44, 55 and 110; therefore d(220) = 284. The proper divisors of 284 are 1, 2, 4, 71 and 142; so d(284) = 220.

Evaluate the sum of all the amicable numbers under 10000.

In [66]:
bin(585)

'0b1001001001'

## read and write files, 

## plot

In [69]:
from sympy import *

In [70]:
x, y, z = symbols('x y z')

In [71]:
diff(cos(x), x)

-sin(x)

In [72]:
expr = exp(x*y*z)

In [73]:
diff(expr, x, y, y, z, z, z, z)

x**3*y**2*(x**3*y**3*z**3 + 14*x**2*y**2*z**2 + 52*x*y*z + 48)*exp(x*y*z)